<div class="container">
  <app-order-header (filterChange)="onFilterChange($event)" (search)="onSearch($event)"></app-order-header>
  <ng-container *ngIf="filteredOrders.length; else noResults">
    <app-order-list [orders]="filteredOrders"></app-order-list>
  </ng-container>
  <ng-template #noResults>
    <div class="no-results">
      <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      <div class="no-results-text">
        <h2>Nothing to Display</h2>
        <p>Please adjust filters to see more results</p>
      </div>
    </div>
  </ng-template>
</div>
