<div class="header-card">
  <div class="filter-section">
    <div class="status-filters">
      <label>Status</label>
      <nz-checkbox-group [(ngModel)]="checkOptions" (ngModelChange)="onFilterChange()" class="status-options"></nz-checkbox-group>
    </div>
    <div class="vertical-line"></div>
    <div class="product-line-filter">
      <label>Product Line</label>
      <nz-select nzPlaceHolder="All Product Lines" [(ngModel)]="selectedProductLine" (ngModelChange)="onFilterChange()">
        <nz-option nzValue="All" nzLabel="All Product Lines"></nz-option>
        <nz-option nzValue="Ready-Mix" nzLabel="Ready-Mix"></nz-option>
        <nz-option nzValue="Cement" nzLabel="Cement"></nz-option>
        <nz-option nzValue="Aggregates" nzLabel="Aggregates"></nz-option>
      </nz-select>
    </div>
    <div class="vertical-line"></div>
    <div class="date-filters">
      <div class="date-filter">
        <label>From</label>
        <nz-date-picker [(ngModel)]="fromDate" (ngModelChange)="onFromDateChange($event)" nzFormat="dd.MM.yyyy"></nz-date-picker>
      </div>
      <div class="date-filter">
        <label>To</label>
        <nz-date-picker [(ngModel)]="toDate" (ngModelChange)="onToDateChange($event)" nzFormat="dd.MM.yyyy"></nz-date-picker>
      </div>
    </div>
  </div>
  <div class="search-bar">
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input nz-input placeholder="Search for Order Number" [(ngModel)]="searchTerm" (keydown.enter)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon nzType="search" (click)="onSearch()" class="search-icon"></i>
    </ng-template>
  </div>
</div>
